
$blue:#0055A0;
$white: #E4E4E4;
$black:#222222;
$orange:#F15D30;

h1{
	color: $blue;
}


body{
	background-image: url(../img/navy_blue.png);
	background-repeat: repeat;
}


.navbar{
	background-color: $black;
}
.times{
	display: none;
	color: $white;
	
	td{
		text-align: center;
		.station{
			font-size: 2rem;
		}
	}
}


//Switch Button Styles

.switch-button-label {
    float: left;
    font-size: 12pt;
    cursor: pointer;
}

.switch-button-label.off {
    color: #adadad;
    opacity: .5;
}

.switch-button-label.on {
    color: $orange;
}

.switch-button-background {
    float: left;
    position: relative;

    background: #ccc;
    border: 1px solid #aaa;

    margin: 1px 10px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    cursor: pointer;
}

.switch-button-button {
    position: absolute;

    left: -1px;
    top : -1px;

    background: #FAFAFA;
    border: 1px solid #aaa;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}