
$blue:#0055A0;
$white: #E4E4E4;
$septared:   #f14728;
$septablue: #1f4fa3;
$black:#222222;
$orange:#F15D30;
$gray: #A0A0A0;
$nav: #DBDBDB;
$green: #59A75C;


@font-face {
    font-family: 'machinescript';
    src: url('../fonts/machinescript.ttf'); /* IE9 Compat Modes */
}

h1{
	color: $blue;
}

html, body
{
    height: 100%;
}

html{
    background: url(../img/subway_car1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    background:none;
}


.table-wrap{
    max-height: 400px;
    overflow: scroll;
}

.times{
	display: none;
    margin-top: 40px;
	background-color: $white;
    color: $black;

    tr{
	    font-size: 1.1rem;
    }
	
	td{
		text-align: center;
        width: 50%;
	}
	.station{
		font-size: 1.4rem;
		color: $white;
	}
	.mf{
		background-color: $blue!important;
	}
	.bs{
		background-color: $orange!important;
	}
}
.table-hide{
        display: none;
    }

//Switch Button Styles

.switch-wrapper{

    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 160px;

    .switch-button-label {
        float: left;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .switch-button-label.off {
        color: #adadad;
        opacity: .5;
    }

    .switch-button-label.on {
        color: $orange;
    }

    .blue{
        color: $blue!important;
    }
    .orange{
        color: $orange!important;
    }

    .switch-button-background {
        float: left;
        position: relative;

        background: #ccc;
        border: 1px solid #aaa;

        margin: 1px 10px;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        cursor: pointer;
    }

    .switch-button-button {
        position: absolute;

        left: -1px;
        top : -1px;

        background: #FAFAFA;
        border: 1px solid #aaa;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
}



.branding{
    font-size: 2.5rem!important;
    line-height: 42px;
    font-family: 'machinescript',arial,sans-serif;
    .septablue{
        color: $septablue;
    }
    .septared{
        color: $septared;
    }
}
.links{
    color: $black;
    
}

.wrapper{
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    margin-left:auto;
    margin-right:auto;
    float: none;
    max-width: 940px;
    .platter{
        background-image: url(../img/navy_blue.png);
        height: 100%;
        width: 100%;
        border-radius: 5px;
        box-shadow: $black 1px 5px 10px;
        select{
            font-size: 1.1rem;
            height: 40px;
            margin-top: 20px;
            margin-bottom: 20px;

        }
        #timepicker{
            font-size: 1.1rem;
            height: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 0 10px;
        }
        .add-on{
            width: 40px;
            height: 40px;
            margin-top: 20px;
            margin-bottom: 20px;  
            padding: 0;
        }
        .clk{
            vertical-align: text-top;
            background-image: url("../img/clk.png");
            background-repeat: no-repeat;
            display: inline-block;
            height: 24px!important;
            width: 25px!important;
            position: relative;
            top: 45%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    }
}
    .submit{
        width: 100%;
        border: 0 none;
        border-radius: 2px 2px 2px 2px;
        color: #FFFFFF;

        cursor: pointer;
        display: inline-block;
        font-family: Arial,sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 7px 10px;
        text-transform: none;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        text-align: center; /* DELETE WHEN WIDTH AUTO */
        background: none repeat scroll 0 0 $green;
        outline-color: transparent;
        outline-style: none;

        color: $white;
            &:hover {
              background: none repeat scroll 0 0 darken($green,10%);
              color: $white;
            }
            &:active{
                background-color: darken($green, 15%);
            }
        }

    .center{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}

button.active{
    color: $septared;
}
button.hide{
    display: none !important;
}
